.container {
  display: flex; 
  flex-wrap: wrap; 
  max-width: 500px; 
  min-width: 50px;
  padding: 35px;  
  border-radius: 60px;  
  background: radial-gradient(circle, #6C2C7D 150px, rgb(201, 141, 234));
}

.main {
	padding: 0;
	margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;    
  align-items: center; 
  background-color: #6C2C7D; 
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  flex: 1 1 auto; 
  min-width: 330px;
  min-height: 70px;
  box-sizing: border-box; 
  background-color: #6C2C7D; 
  color: white; 
  font-size: 22px;
  border: 10%;
  border-color: white;
  border-radius: 20px;
  margin-left: 18%;
  margin-top: 50px;
  padding: 15px;

}

.in {
  margin-top: 50px;
}

.name {
  margin: auto;
  margin-top: 25px;
  margin-left: 22%;
  font-size: 65px;
  color: white;
}

.txt1 {
  color: white;
  opacity: 50%;
  font-size: 25px;
  margin-left: 16%;
  margin-top: 1px;
}